# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore VS Code settings (optional but clean)
.vscode/

# Ignore Jupyter notebooks checkpoints (if you ever use them)
.ipynb_checkpoints/
